@media screen and (max-width: 768px) {

  h1{
    font-size: 100%;
  }

  .wrapper_content{
    margin-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
  }

  .wrapper_footer{

      height: 80px;
      width: auto;
      display: grid;
      grid-template-areas: "copyright contacts";
      grid-template-columns: 60% 40%;
      margin-top: 10px;
  }
  .jpg{
      width: 10px; 
      height: 10px;
    }
    
  .whole_menu_div{
    margin-left: 5%;
    text-align: center;
    z-index: 3;
    top: 0;
    position: sticky;
    display: grid;
    grid-template-areas: "logo menu burger";
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 40px;
    width: 100%;
  }

  .menu_ul{
    background: linear-gradient(307deg, #ffffff, #000000, #00c4ff);
    background-size: 100% 100%;
    animation: AnimationName 44s ease infinite;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: -100%;
    transition-duration: 0.5s;
    width: 100%;
  }

  .menu_ul ul{
    text-align: center;
  }

  .menu_ul li:first-child{
    padding-top: 15%;
  }

  .menu_ul li{
    display: grid;
    grid: subgrid;
    margin: 0 0 10% 0;
  }

  .menu_ul li:hover{
    color: rgb(255, 255, 255);
  }


  .menu_link{
    color: #ffffff;
    font-size: 110%;
  }

  .burger_wrapper{
    display: grid;
    grid-area: burger;
    height: 40px;
    justify-content: flex-start;
    position: absolute;
    right: 30%;
    width: 3em;
  }

  .burger_wrapper:hover{
    cursor: pointer;
  }

  .burger_bar{
    background-color: #2c2c2c;
    display: block;
    height: 3px;
    position: relative;
    top: 0.8em;
    transition-duration: 0.5s;
    width: 20px;
  }

  .burger_bar::before{
    background-color: #2c2c2c;
    content: '';
    height: 3px;
    position: absolute;
    right: 0;
    top: 0.5em;
    transition-duration: 0.5s;
    width: 20px;
  }

  .burger_bar::after{
    background-color: #2c2c2c;
    content: '';
    height: 3px;
    position: absolute;
    right: 0;
    top: 1em;
    transition-duration: 0.5s;
    width: 20px;
  }

  .burger_bar.open {
  background-color: transparent;
  transition-duration: 0.5s;
}

  .burger_bar.open::before{
    content: '';
    transform: rotate(45deg);
    transition-duration: 0.5s;
    top: 0.6em;
  }

  .burger_bar.open::after{
    content: '';
    top: 0.6em;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  .menu_ul.open{
    top: 0;
    transition-duration: 0.5s;
  }

    .text_content_main{
  width: auto;
  display: grid;
  grid-template-areas: "text1"
                       "ssd"
                       "text2"
                       "text3"
                       "facts"
                       "text4";
  grid-template-columns: 99%;
}
.text1{
    margin-top: 0%;
    margin-left: 2%;
    grid-area: text1;
}
.text2{
    margin-left: 2%;
    grid-area: text2;
}
.text3{
    margin-left: 2%;
    grid-area: text3;
}
.facts{
    margin-left: 2%;
    grid-area: facts;
}
.text4{
    margin-left: 2%;
    grid-area: text4;
}
.photo{
    margin-top: 0%;
    margin-left: 1%;
    grid-area: ssd;
    width: 312px; 
    height: 230px; 
}
.imm{
        margin-top: 3%;
        margin-left: 2%;
    }

.footer_p p{
  font-size: 100%;
}

.footer_contacts{
  margin-left: 8%;
  color: rgb(141, 138, 138);
  grid-area: contacts;
}
.footer_contacts2{
  margin-top: 29%;
  margin-left: 29%;
  color: rgb(141, 138, 138);
  grid-area: contacts;
}

.footer_copyright{
  margin-right: 3%;
  margin-top: 20%
  text-align: justify;
  padding-top: 0%;
  color: rgb(141, 138, 138);
  grid-area: copyright;
  font-size: 60%;
}

} transition: 0.4s;
}
@media screen and (min-width: 1195px) and (max-width: 1500px) {
    margin-left: 110%;
}