@font-face {
font-family: 'San Francisco Display Thin';
src: url('fonts/SFUIDisplay-Thin.eot');
src: url('fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
url('fonts/SFUIDisplay-Thin.woff') format('woff'),
url('fonts/SFUIDisplay-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Display Regular';
src: url('fonts/SFUIDisplay-Regular.eot');
src: url('fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/SFUIDisplay-Regular.woff') format('woff'),
url('fonts/SFUIDisplay-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'San Francisco Text Heavy';
src: url('fonts/SFUIText-Heavy.eot');
src: url('fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
url('fonts/SFUIText-Heavy.woff') format('woff'),
url('fonts/SFUIText-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.fH {font-family: 'San Francisco Text Heavy';}
.fd {font-family: 'San Francisco Display Regular';}
.fl {font-family: 'San Francisco Display Thin';}
.wrapper_head{
  width: 100%;
}

.wrapper_content{
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 6%;
  margin-right: 6%;
}

.wrapper_footer{
  margin-left: 1%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 80px;
  width: auto;
  display: grid;
  grid-template-areas: "copyright label contacts contacts2";
  grid-template-columns: 350px 1fr 1fr 120px;
  margin-top: 10px;
  margin-left: 6%;
  margin-right: 6%;
}
logo{
    grid-area: logo;
}
img{
  border-radius: 2px;
}

.jpg{
      width: 650px; 
      height: 310px;
    }

.whole_menu_div{
  margin-left: 10%;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "logo menu";
  width: 100%;
}


.menu_ul li{
  display: inline-block;
  margin-left: 15px;
  grid-area: menu;
  list-style: none;
}

.menu_ul a{
  
  text-decoration: none;
}

.menu_link{
  color: #2c2c2c;
  font-size: 16px;
  text-transform: uppercase;
}

.menu_ul a:hover{
  color: rgb(23, 172, 217);
}

.footer_p{
  display: flex;
  font-family: 'Arial', cursive;
  text-transform: uppercase;
  color: #ffffff;
  grid-area: label;
  justify-content: center;
  padding-top: 0%;
}

.footer_p p{
  font-size: 140%;
}

.footer_contacts{
  font-family: 'San Francisco Display Regular';
  margin-left: 80%;
  color: rgb(141, 138, 138);
  grid-area: contacts;
}
.footer_contacts2{
  margin-top: 3%;
  margin-right: 10%;
  color: rgb(141, 138, 138);
  grid-area: contacts2;
}

.footer_copyright{
  font-family: 'San Francisco Display Thin';
  margin-right: 1%;
  margin-left: 2%;
  text-align: justify;
  padding-top: 0%;
  color: rgb(141, 138, 138);
  grid-area: copyright;
  font-size: 80%;
}

