.text_content_main{
  width: auto;
  display: grid;
  grid-template-areas: "text1 ssd"
                       "text2 ssd"
                       "text3 text3"
                       "facts facts"
                       "text4 text4";
  grid-template-columns: 70% 28%;
}
.text1{
    margin-top: 1%;
    margin-left: 2%;
    grid-area: text1;
}
.text2{
    margin-left: 2%;
    grid-area: text2;
}
.text3{
    margin-left: 2%;
    grid-area: text3;
}
.facts{
    margin-left: 2%;
    grid-area: facts;
}
.text4{
    margin-left: 2%;
    grid-area: text4;
}
.photo{
    border: 1px solid black;
    width: 390px; 
    height: 230px; 
    border-radius: 10px;
    margin-top: 17%;
    margin-left: 8%;
    grid-area: ssd;}
.imm{
        margin-top: 2%;
        margin-left: 2%;
    }
.h2_main{}
